flask
flask-cors
langchain
openai
chromadb
PyPDF2
python-dotenv
streamlit
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
sentence-transformers
transformers
torch




# from langchain_community.embeddings import HuggingFaceEmbeddings

# # Free model from Hugging Face
# model_name = "sentence-transformers/all-MiniLM-L6-v2"

# embeddings = HuggingFaceEmbeddings(model_name=model_name)

# text = "LangChain integrates with many vector databases. this is a very good model"

# vector = embeddings.embed_query(text)

# print(f"Embedding length: {len(vector)}")
# print("Sample values:", vector[:10])
